<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form>
userId
<input type="text"/><br/>
Password
<input type="password" /><br/>
<input type="submit" /><br/><br/>

<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=1c7918ef0f9d48fe6f2b01f8b36cc64b&redirect_uri=http://localhost:7075/auth/kakao/callback"><img src="/images/kakao_login_btn.png" /></a>
</form>

<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous">
</script>


	
</body>
</html>