<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.springboot.DAO.ReservationDAO">
	<select id="selectAll" resultType="com.project.springboot.VO.ReservationVO">
		select * from Reservation
	</select>

	<insert id="insert">
	insert into reservation ( reservationNum, userId, flightScheduleNum,fromPlatformNum,
	toPlatformNum,agedPerson,youngPerson,youngPerson,totalPrice,flightTicket, toTime
	,fromTime ) values (#{reservationNum}, #{userId},#{flightScheduleNum},#{fromPlatformNum},
	#{toPlatformNum},#{agedPerson},#{youngPerson},#{totalPrice},#{flightTicket},#{toTime},#{fromTime}) 
	</insert>
	
	<delete id="delete"> 
        delete from reservation where reservationNum = #{reservationNum} 
    </delete>    
	
</mapper>